
#build*/
.directory
.mailmap
*.orig
*.rej
*~
.hg/
*.kdev*
.DS_Store
CMakeLists.txt.user
*.bak
*.patch
*.diff
*.REMOTE.*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
nbproject/*
.idea/*
.browse.VC*
.vscode
cmake-build-*/*
.vs
*.user
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug/VSInheritEnvironments.txt
/out/build/x64-Debug/Testing/Temporary
/out/build/x64-Debug/src
/out/build/x64-Debug/revision_data.h
/out/build/x64-Debug/Directory.Build.props
/out/build/x64-Debug/dep
/out/build/x64-Debug/cmake_install.cmake
/out/build/x64-Debug/CMakeFiles
/out/build/x64-Debug/CMakeCache.txt
/out/build/x64-Debug/build.ninja
/out/build/x64-Debug/.ninja_log
/out/build/x64-Debug/.ninja_deps
/out/build/x64-Debug/bin/Crashes
/out/build/x64-Debug/bin/worldserver.pdb
/out/build/x64-Debug/bin/worldserver.exe.manifest
/out/build/x64-Debug/bin/worldserver.exe
/out/build/x64-Debug/bin/vmap4extractor.pdb
/out/build/x64-Debug/bin/vmap4extractor.exe.manifest
/out/build/x64-Debug/bin/vmap4extractor.exe
/out/build/x64-Debug/bin/vmap4assembler.pdb
/out/build/x64-Debug/bin/vmap4assembler.exe.manifest
/out/build/x64-Debug/bin/vmap4assembler.exe
/out/build/x64-Debug/bin/openssl_ed25519.pdb
/out/build/x64-Debug/bin/openssl_ed25519.dll.manifest
/out/build/x64-Debug/bin/openssl_ed25519.dll
/out/build/x64-Debug/bin/mmaps_generator.pdb
/out/build/x64-Debug/bin/mmaps_generator.exe.manifest
/out/build/x64-Debug/bin/mmaps_generator.exe
/out/build/x64-Debug/bin/mapextractor.pdb
/out/build/x64-Debug/bin/mapextractor.exe.manifest
/out/build/x64-Debug/bin/mapextractor.exe
/out/build/x64-Debug/bin/bnetserver.pdb
/out/build/x64-Debug/bin/bnetserver.exe.manifest
/out/build/x64-Debug/bin/bnetserver.exe
/837数据迁移/world/creature/2023_01_02_03_world.sql
/out/build/x64-Debug/bin/worldserver.conf
/out/build/x64-Debug/bin/ssleay32.dll
/out/build/x64-Debug/bin/Server.log
/out/build/x64-Debug/bin/libssl-1_1-x64.dll
/out/build/x64-Debug/bin/libmysql.dll
/out/build/x64-Debug/bin/libeay32.dll
/out/build/x64-Debug/bin/libcrypto-1_1-x64.dll
/out/build/x64-Debug/bin/GM.log
/out/build/x64-Debug/bin/DBErrors.log
/out/build/x64-Debug/bin/bnetserver.key.pem
/out/build/x64-Debug/bin/bnetserver.cert.pem
/out/build/x64-Debug/bin/Bnet.log
/out/build/x64-Debug/bin/worldserver.conf
/out/build/x64-Debug/bin/TDB_full_world_1002.22121_2022_12_20.sql
/out/build
/out/build/x64-Debug/bin/Debug/scripts
/out/build/x64-Debug/bin
/vcpkg
/通用/服务器/1号服务器以往的文件备份
/通用/中文注释/已经合并
/out/build/x64-Release/.cmake/api/v1
/out/build/x64-Release/bin
/out/build/x64-Release/CMakeFiles
/out/build/x64-Release/Testing/Temporary
/out/build/x64-Release/VSInheritEnvironments.txt
/out/build/x64-Release/revision_data.h
/out/build/x64-Release/Directory.Build.props
/out/build/x64-Release/cmake_install.cmake
/out/build/x64-Release/CMakeCache.txt
/out/build/x64-Release/build.ninja
/out/build/x64-Release/.ninja_log
/out/build/x64-Release/.ninja_deps
/out/build/x64-Release
/通用/serayn/高版本提取（CASC提取）工具/cascview_en/x64/CascView_20230225-153254.dmp
/out/build/x64-Debug/bin/worldserver.conf
/通用/TDB/TDB_full_1007.23041_2023_04_02.rar
/sql/old/Origins Project Source 2
