#
# Copyright (C) 2010 - 2014 Eluna Lua Engine <http://emudevs.com/>
# This program is free software licensed under GPL version 3
# Please see the included DOCS/LICENSE.TXT for more information
#

language:
    cpp

compiler:
    - gcc
    - clang

# Only get newest commit
git:
    depth: 1

before_install:
# Install base
    - sudo apt-get install build-essential autoconf libtool gcc g++ make cmake git-core patch wget links zip unzip unrar
    - sudo apt-get install openssl libssl-dev mysql-server mysql-client libmysqlclient15-dev libmysql++-dev libreadline6-dev zlib1g-dev libbz2-dev

# Install ACE
# Get ACE
    - wget http://download.dre.vanderbilt.edu/previous_versions/ACE-6.0.3.tar.gz > /dev/null
# Unzip ACE to Source/
    - tar xzf ACE-6.0.3.tar.gz > /dev/null
# Go to Source/ACE_wrappers
    - cd ACE_wrappers/
# Create Source/ACE_wrappers/build
    - mkdir build
# Go to Source/ACE_wrappers/build
    - cd build
# Install ACE system wide:
    - ../configure --disable-ssl > /dev/null
    - make -i --jobs=4 > /dev/null
    - sudo make -i --jobs=4 install > /dev/null
# Go to Source/
    - cd ../../

# Get Eluna
    - git submodule init
    - git submodule update
# Get latest code for testing
    - git submodule foreach git pull origin master

script:
# Create Source/BUILD
    - mkdir BUILD
# Create Source/SERVER
    - mkdir SERVER
# Go to Source/BUILD
    - cd BUILD
# Run cmake and set the BUILD directory as target for solution
    - cmake ../ -DPREFIX=/SERVER -DWITH_WARNINGS=1
# Compile (with 4 cores)
    - make --jobs=4
