<?php

// Configuration.
// Realm database.
$r_db = "realmd";
// IP (and port).
$ip = "127.0.0.1:3306";
// Username.
$user = "trinity";
// Password.
$pass = "trinity";
// Site title.
$title = "Registration Form";
$title2 = "Some Server";
// End config.


?>