# TrinityScript Configuration file
# This file must be placed within the directory which holds TrinityCore.conf and TrinityRealm.conf
ConfVersion=2008100201

# Database connection settings for the world server.
# Default: hostname;port;username;password;database
#          .;somenumber;username;password;database - use named pipes at Windows
#                Named pipes: mySQL required adding "enable-named-pipe" to [mysqld] section my.ini
#          .;/path/to/unix_socket;username;password;database - use Unix sockets at Unix/Linux
#                Unix sockets: experimental, not tested
TScriptDatabaseInfo = "127.0.0.1;3306;trinity;trinity;trinityscript"

# Setting for current locale to use
Locale = 0

# EventAI Error reporting
# 0 - Only startup (Default)
# 1 - Startup errors and Runtime event errors
# 2 - Startup errors, Runtime event errors, and Creation errors
EAIErrorLevel = 1
