[worldserver]
###########################   物体释放技能脚本    [Cheer_Shangmei_ss]    ########################

#施法技能【spell.dbc   ID】
Cheer.Shangmei_SPELL = 8732

#施法时间【毫秒】
Cheer.Shangmei_time= 2

#施法距离
Cheer.Shangmei_distance = 200

###################################################################################################