<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CASCExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="OnlineStorageList" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <CASCExplorer.Properties.Settings>
      <setting name="LocaleFlags" serializeAs="String">
        <value>enUS</value>
      </setting>
      <setting name="OverrideArchive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RecentStorages" serializeAs="String">
        <value />
      </setting>
      <setting name="PreviewVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ListFilePath" serializeAs="String">
        <value>listfile.csv</value>
      </setting>
    </CASCExplorer.Properties.Settings>
  </userSettings>
  <OnlineStorageList>
    <add key="wow" value="WoW (Retail)" />
    <add key="wowt" value="WoW (PTR)" />
    <add key="wow_beta" value="WoW (Beta)" />
    <add key="wowz" value="WoW (Vendor)" />
    <add key="wowe1" value="WoW (Event 1)" />
    <add key="wowdemo" value="WoW (Demo)" />
    <add key="wow_classic" value="WoW Classic" />
    <add key="wow_classic_beta" value="WoW Classic (Beta)" />
    <add key="d3" value="Diablo III (Retail)" />
    <add key="d3t" value="Diablo III (PTR)" />
    <add key="d3b" value="Diablo III (Beta)" />
    <add key="s2" value="Starcraft II (Retail)" />
    <add key="s2t" value="Starcraft II (PTR)" />
    <add key="s2b" value="Starcraft II (Beta)" />
    <add key="hero" value="Heroes of the Storm (Retail)" />
    <add key="herot" value="Heroes of the Storm (PTR)" />
    <add key="hsb" value="Hearthstone (Retail)" />
    <add key="pro" value="Overwatch (Beta)" />
    <add key="agent" value="Battle.net Agent" />
    <add key="bna" value="Battle.net App" />
    <add key="clnt" value="Battle.net Client" />
    <add key="s1" value="Starcraft I" />
    <add key="s1t" value="Starcraft I (PTR)" />
    <add key="w3" value="Warcraft III" />
    <add key="w3t" value="Warcraft III (PTR)" />
    <add key="dst2" value="Destiny 2" />
  </OnlineStorageList>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>