-- Template Updates
-- Jin'do the Godbreaker
UPDATE `creature_template` SET `DamageModifier`= 120, `BaseVariance`= 0.5, `mechanic_immune_mask`= 650854271, `flags_extra`= 1, `mingold`= 25000, `maxgold`= 30000 WHERE `entry`= 52148;
-- Twisted Shadow
UPDATE `creature_template` SET `flags_extra`= 2 WHERE `entry`= 52608;
-- Shadow of Hakkar
UPDATE `creature_template` SET `flags_extra`= 2 WHERE `entry`= 52650;
-- Jin'do the Godbreaker (Spirit World)
UPDATE `creature_template` SET `flags_extra`= 2 WHERE `entry`= 52150;
-- Gurubashi Spirit Warrior
UPDATE `creature_template` SET `ScriptName`= 'npc_jindo_gurubashi_spirit_warrior', `DamageModifier`= 90, `BaseVariance`= 0.5, `flags_extra`= 1073741824 WHERE `entry`= 52167;
-- Gurubashi Spirit
UPDATE `creature_template` SET `ScriptName`= 'npc_jindo_gurubashi_spirit_warrior', `DamageModifier`= 90, `BaseVariance`= 0.5, `flags_extra`= 1073741824 WHERE `entry`= 52730;
-- Gurubashi Shadow
UPDATE `creature_template` SET `flags_extra`= 2 WHERE `entry`= 52732;
-- Broken Ground
UPDATE `creature_template` SET `unit_flags`= 33554432, `unit_flags2`= 37750784, `flags_extra`= 2 WHERE `entry`= 52407;
-- Sundered Rift
UPDATE `creature_template` SET `unit_flags`= 33554432, `flags_extra`= 130 WHERE `entry`= 52400;
-- Hakkar's Chains
UPDATE `creature_template` SET `flags_extra`= 2 | 128 | 256 | 1073741824, `mechanic_immune_mask`= 650854271 WHERE `entry`= 52430;
-- Twisted Spirit
UPDATE `creature_template` SET `DamageModifier`= 50, `BaseVariance`= 0.5 WHERE `entry`= 52624;

-- Delete encounter related creatures
DELETE FROM `creature` WHERE `guid` IN (295236, 295280, 295234, 295187, 295193, 295202, 295221, 295222, 295255, 295258, 295264, 295229, 295257, 295279, 295292, 295326, 295247, 295248, 295249, 295185, 295186, 295188, 295189, 295190, 295191, 295194, 295195, 295196, 295197, 295198, 295199, 295200, 295201, 295203, 295204, 295205, 295206, 295207, 295208, 295209, 295210, 295211, 295212, 295213, 295214, 295215, 295216, 295217, 295218, 295219, 295220, 295224, 295226, 295227, 295228, 295230, 295231, 295232, 295235, 295237, 295242, 295245, 294875, 294876, 295256, 295259, 295261, 295262, 295263, 295265, 295266, 295267, 295268, 295269, 295270, 295271, 295272, 295273, 295274, 295275, 295276, 295277, 295278, 295281, 295282, 295283, 295284, 295285, 295286, 295287, 295288, 295289, 295290, 295291, 295293, 295294, 295299, 295300, 295301, 295302, 295303, 295304, 295305, 295306, 295307, 295308, 295309, 295310, 295311, 295312, 295313, 295314, 295315, 295316, 295318, 295319, 295320, 295321, 295322, 295323, 295324, 295325, 295327, 295328, 295329, 295330, 295331, 295223, 295225, 295233, 295238, 295239, 295240, 295241, 295243, 295244, 295246, 295250, 295251, 295252, 295253, 295254);
DELETE FROM `creature_addon` WHERE `guid` IN (295236, 295280, 295234, 295187, 295193, 295202, 295221, 295222, 295255, 295258, 295264, 295229, 295257, 295279, 295292, 295326, 295247, 295248, 295249, 295185, 295186, 295188, 295189, 295190, 295191, 295194, 295195, 295196, 295197, 295198, 295199, 295200, 295201, 295203, 295204, 295205, 295206, 295207, 295208, 295209, 295210, 295211, 295212, 295213, 295214, 295215, 295216, 295217, 295218, 295219, 295220, 295224, 295226, 295227, 295228, 295230, 295231, 295232, 295235, 295237, 295242, 295245, 294875, 294876, 295256, 295259, 295261, 295262, 295263, 295265, 295266, 295267, 295268, 295269, 295270, 295271, 295272, 295273, 295274, 295275, 295276, 295277, 295278, 295281, 295282, 295283, 295284, 295285, 295286, 295287, 295288, 295289, 295290, 295291, 295293, 295294, 295299, 295300, 295301, 295302, 295303, 295304, 295305, 295306, 295307, 295308, 295309, 295310, 295311, 295312, 295313, 295314, 295315, 295316, 295318, 295319, 295320, 295321, 295322, 295323, 295324, 295325, 295327, 295328, 295329, 295330, 295331, 295223, 295225, 295233, 295238, 295239, 295240, 295241, 295243, 295244, 295246, 295250, 295251, 295252, 295253, 295254);

-- Conditions
DELETE FROM `conditions` WHERE `SourceEntry` IN (97321, 97022, 97152) AND `SourceTypeOrReferenceId`= 13;
INSERT INTO `conditions` (`SourceTypeOrReferenceId`, `SourceGroup`, `SourceEntry`, `SourceId`, `ElseGroup`, `ConditionTypeOrReference`, `ConditionTarget`, `ConditionValue1`, `ConditionValue2`, `ConditionValue3`, `NegativeCondition`, `ErrorType`, `ScriptName`, `Comment`) VALUES
(13, 1, 97321, 0, 0, 31, 0, 3, 52650, 0, 0, 0, '', 'Drain Spirit Essence - Target Shadow of Hakkar'),
(13, 1, 97022, 0, 0, 31, 0, 3, 52222, 0, 0, 0, '', 'Hakkar''s Chains - Target Spirit of Hakkar'),
(13, 1, 97152, 0, 0, 31, 0, 3, 52532, 0, 0, 0, '', 'Call Spirit - Target Spirit Portal');

-- Spells
DELETE FROM `spell_script_names` WHERE `ScriptName` IN
('spell_jindo_shadow_spike',
'spell_jindo_call_spirit',
'spell_jindo_spirit_warriors_gaze',
'spell_jindo_body_slam');

INSERT INTO `spell_script_names` (`spell_id`, `ScriptName`) VALUES
(97158, 'spell_jindo_shadow_spike'),
(97152, 'spell_jindo_call_spirit'),
(97597, 'spell_jindo_spirit_warriors_gaze'),
(97252, 'spell_jindo_body_slam');

-- Template Addon
UPDATE `creature_template_addon` SET `auras`= '82978' WHERE `entry`= 52148;
UPDATE `creature_template_addon` SET `auras`= '28126 18950' WHERE `entry`= 52730;
DELETE FROM `creature_template_addon` WHERE `entry` IN (52430, 52624, 52400, 52407);
INSERT INTO `creature_template_addon` (`entry`, `bytes2`, `auras`) VALUES
(52624, 1, '97285'),
(52400, 1, '96970 97031'),
(52407, 1, '96974');

-- Texts
DELETE FROM `creature_text` WHERE `CreatureID` IN (52148, 52222, 52650);

-- Summon Groups
DELETE FROM `creature_summon_groups` WHERE `summonerId`= 52148 AND `summonerType`= 0;
DELETE FROM `creature_summon_groups` WHERE `summonerId`= 859 AND `summonerType`= 2;

-- Loot
DELETE FROM `creature_onkill_reward` WHERE `creature_id`= 52148;
INSERT INTO `creature_onkill_reward` (`creature_id`, `RewOnKillRepFaction1`, `MaxStanding1`, `RewOnKillRepValue1`, `CurrencyId1`, `CurrencyCount1`) VALUES
(52148, 1162, 7, 250, 395, 7000);

-- Loot
UPDATE `creature_template` SET `lootid`= 52148 WHERE `entry`= 52148;
DELETE FROM `creature_loot_template` WHERE `entry`= 52148;
INSERT INTO `creature_loot_template` (`Entry`, `Item`, `Reference`, `Chance`, `LootMode`, `GroupId`, `MinCount`, `MaxCount`) VALUES
(52148, 52078, 0, 100, 1, 1, 1, 1),
(52148, 0, 521480, 100, 1, 0, 2, 2);

DELETE FROM `reference_loot_template` WHERE `entry`= 521480;
INSERT INTO `reference_loot_template` (`Entry`, `Item`, `Chance`, `LootMode`, `GroupId`, `MinCount`, `MaxCount`) VALUES
(521480, 69624, 0, 1, 1, 1, 1),
(521480, 69621, 0, 1, 1, 1, 1),
(521480, 69626, 0, 1, 1, 1, 1),
(521480, 69620, 0, 1, 1, 1, 1),
(521480, 69629, 0, 1, 1, 1, 1),
(521480, 69625, 0, 1, 1, 1, 1),
(521480, 69627, 0, 1, 1, 1, 1),
(521480, 69623, 0, 1, 1, 1, 1),
(521480, 69622, 0, 1, 1, 1, 1),
(521480, 69628, 0, 1, 1, 1, 1);
