#!/usr/bin/env bash

## CUSTOM SQL - Important file used by the db_assembler.sh
## Keep only the required variables (base sql files or updates, depending on the DB)


## BASE SQL

DB_CHARACTERS_CUSTOM_PATHS+=(
	"$MOD_ANTICHEAT_ROOT/sql/characters/base/"
)

